<section id="CartDetail">
    <div id="coverImg" class="wrapper"></div>
    <div id="infoBrand" class="wrapper">
        <div class="inner">
            <div class="actionLogout">
                <button (click)="logout()">Đăng xuất</button>
            </div>
            <div class="contentInfoBrand">
                <div class="logoBrand">
                    <div class="logoBrand_img">
                        <img src="../../assets/img/Logo.png" alt="">
                    </div>
                    <div class="infoDetail">
                        <div class="name">
                            Charkra coffe
                        </div>
                        <div class="address">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> Tân Xã, Thạch Thất, Hà Nội
                        </div>
                    </div>
                </div>
                <div class="Delivery">
                    <div class="iconDelivery">
                        <img src="../../assets/img/logoDelivery.png" alt="">
                    </div>
                    <div class="infoDelivery">
                        <div class="free">Giao Hàng Miễn Phí: <span style="color: #15d015;">3 Km</span></div>
                        <div class="min">Đơn hàng tối thiểu: <span style="color: #ff8862;">100.000 vnđ</span></div>
                    </div>
                </div>
                <div class="timeNow">
                    <p>
                        <span class="hours">{{time.h}} </span>:
                        <span class="minutes">{{time.m}} </span>:
                        <span class="seccons">{{time.s}} </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- https://www.techiediaries.com/angular-firebase/angular-9-8-firestore-database-crud-tutorial/ -->
    <div id="contentCart" class="wrapper">
        <div class="inner mainContent">
            <div class="backMenu">
                <button (click)="backToMenu()">Về trang menu</button>
            </div>
            <div id="profile" [ngClass]="{profileGG: user.provider == 'GOOGLE'}">
                <div class="avt">
                    <img src="{{user.photoUrl}}" alt="" [ngClass]="{ 'ggImgUrl' : user.provider == 'GOOGLE'}">
                    <i class="fa fa-facebook fb" aria-hidden="true" *ngIf="user.provider == 'FACEBOOK'"></i>
                    <i class="fa fa-google gg" aria-hidden="true" *ngIf="user.provider == 'GOOGLE'"></i>
                </div>
                <div class="name" [ngClass]="{nameGG: user.provider == 'GOOGLE'}">
                    {{user.name}}
                </div>
            </div>
            <div class="nav-order">
                <div class="nav-order-content">
                    <ul class="list-nav-order">
                        <li class="item-nav-order"><a routerLink="orderInfo" routerLinkActive="active" class="link-nav-order infoOrder">Thông tin đơn hàng</a></li>
                        <li class="item-nav-order"><a routerLink="orderHistory" routerLinkActive="active" class="link-nav-order historyOrder">Lich sử đơn hàng</a></li>
                    </ul>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</section>