<section id="pageMenu" class="wrapper">
    <div class="inner">
        <div class="title">
            <h3>Danh sách đồ phục vụ</h3>
        </div>
        <!-- <div class="acctionRandom">
            <button class="btnRandomProduct" (click)="randomSelectProduct()">Chọn món ngẫu nhiên</button>
        </div> -->
        <div class="list-product">
            <div class="typeProduct">
                <h3>Nước uống</h3>
            </div>
            <div class="product" *ngFor="let item of DRINKS">
                <div class="product_info">
                    <img src="{{item.img}}" alt="">
                    <div class="content">
                        <div class="top">
                            <span class="name">
                          {{item.name}}
                    </span>
                            <span class="price">
                          {{fomartMoney(item.price)}} vnd
                    </span>
                        </div>
                        <div class="bottom">
                            <p>{{item.summary}}</p>
                            <div class="acction">
                                <span class="view" (click)="showDetailProduct(item)">Xem thêm</span>
                                <button class="add" (click)="selectProd(item)">Chọn mua</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="typeProduct">
                <h3>Đồ ăn</h3>
            </div>
            <div class="product" *ngFor="let item of FOODS">
                <div class="product_info">
                    <img src="{{item.img}}" alt="">
                    <div class="content">
                        <div class="top">
                            <span class="name">
                          {{item.name}}
                    </span>
                            <span class="price">
                          {{fomartMoney(item.price)}} vnd
                    </span>
                        </div>
                        <div class="bottom">
                            <p>{{item.summary}}</p>
                            <div class="acction">
                                <span class="view" (click)="showDetailProduct(item)">Xem thêm</span>
                                <button class="add" (click)="selectProd(item)">Chọn mua</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="typeProduct">
                <h3>Kem</h3>
            </div>
            <div class="product" *ngFor="let item of CREAMS">
                <div class="product_info">
                    <img src="{{item.img}}" alt="">
                    <div class="content">
                        <div class="top">
                            <span class="name">
                          {{item.name}}
                    </span>
                            <span class="price">
                          {{fomartMoney(item.price)}} vnd
                    </span>
                        </div>
                        <div class="bottom">
                            <p>{{item.summary}}</p>
                            <div class="acction">
                                <span class="view" (click)="showDetailProduct(item)">Xem thêm</span>
                                <button class="add" (click)="selectProd(item)">Chọn mua</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" *ngIf="showDetail || showCart" (click)="close()">

</div>
<detail-product [showDetail]="showDetail" (eventDetail)="eventDetail($event)" [ProductDetail]="ProductDetail" [productMainImg]="productMainImg" [quantytiSelect]="quantytiSelect"></detail-product>
<app-cart [listProduct]="productsSelected" [totalPrice]="totalPrice" [totalSelect]="totalSelect" [showCart]="showCart" (cartEvent)="eventCart($event)"></app-cart>
<a class="cart" *ngIf="totalSelect > 0" (click)="onShowCart()">
    <i class="fa fa-cart-plus" aria-hidden="true"></i>
    <i class="numberCart">{{totalSelect}}</i>
</a>
<button class="randomFixed" (click)="randomSelectProduct()" [ngClass]="{fixedBtnShow: fixedButton}">
    CHỌN NGẪU NHIÊN
</button>