#pageMenu {
    .title {
        padding-bottom: 4px;
        border-bottom: 1px dotted;
        margin-bottom: 25px;
        h3 {
            font-size: 2em;
            color: #6b2912;
        }
    }
    .list-product {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .typeProduct {
            width: 100%;
            text-align: center;
            background-image: linear-gradient(45deg, #dac9c300, #6b291229, #dac9c300);
            padding: 5px 0;
            margin-bottom: 15px;
            h3 {
                font-size: 1.5em;
                color: #6b2912;
            }
        }
        .product {
            background: #fff;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
            padding: 5px;
            width: 46%;
            margin-bottom: 30px;
            transition: .4s;
            &:hover {
                border-radius: 4px;
                background-image: linear-gradient(45deg, #6b291247, #dac9c300);
                .product_info {
                    img {
                        transform: scale(1.05) !important;
                    }
                    .content {
                        .bottom {
                            .view {
                                color: #6b2912;
                            }
                        }
                    }
                }
            }
            &_info {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                img {
                    width: 125px;
                    height: 135px;
                    border-radius: 2%;
                    object-fit: cover;
                    align-self: center;
                    transition: .4s;
                    margin-left: 3px;
                }
                .content {
                    padding-left: 10px;
                    width: 75%;
                    .top {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        border-bottom: 1px dotted #6b2912;
                        padding-top: 10px;
                        .name {
                            font-size: 1.5em;
                            font-weight: 600;
                            color: #6b2912;
                        }
                        .price {
                            color: #ed8a03;
                            font-size: 1.3em;
                            font-weight: 600;
                        }
                    }
                    .bottom {
                        padding-top: 5px;
                        p {
                            font-size: 1.1em;
                        }
                        .acction {
                            padding-top: 5px;
                            width: 37%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            float: right;
                            .view {
                                color: gray;
                                cursor: pointer;
                                transition: .3s;
                                &:hover {
                                    text-decoration: underline;
                                    color: #ed8a03;
                                }
                            }
                            .add {
                                cursor: pointer;
                                padding: 5px 4px;
                                border: 0px solid #6b2912;
                                border-radius: 2px;
                                background: #cbb1a9;
                                color: #6b2912;
                                font-family: unset;
                                transition: .4s;
                                &:hover {
                                    background: #a85c24;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0100008c;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: introModal;
    animation-duration: .3s;
}

.cart {
    position: fixed;
    top: 90px;
    right: 5px;
    width: 70px;
    height: 70px;
    font-size: 60px;
    background: #cbb1a9e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #6b2912;
    cursor: pointer;
    transition: .2s;
    &:hover {
        transform: scale(1.1);
    }
    .numberCart {
        position: absolute;
        font-size: 24px;
        top: -19px;
        left: -15px;
        color: #fff;
        background: red;
        padding: 2px;
        text-align: center;
        /* padding-right: 5px; */
        width: 30px;
        height: 30px;
        /* display: flex; */
        /* justify-content: center; */
        align-items: center;
        border-radius: 50%;
        font-style: normal;
    }
}

button:disabled,
button[disabled] {
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
    cursor: not-allowed !important;
}

@keyframes introModal {
    from {
        background: #0100002c;
    }
    to {
        background: #0100008c;
    }
}

@keyframes introDetail {
    from {
        transform: translateY(-165px);
    }
    to {
        transform: translateY(0);
    }
}

.acctionRandom {
    padding: 10px 0;
    margin-bottom: 10px;
    .btnRandomProduct {
        border: 0;
        min-width: 250px;
        height: 35px;
        border-radius: 4px;
        background: #fcc50a;
        background-image: linear-gradient(0deg, #fcc50a, #ffffffcc, #fcc50a);
        font-weight: bold;
        color: #222;
        border: 0;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
        transition: 0.5s;
        animation: spin 1.7s linear infinite;
        cursor: pointer;
        font-size: 20px;
        &:hover {
            transform: scale(1.07);
            animation: none;
        }
    }
    @-webkit-keyframes spin {
        0% {
            transform: scale(1.0);
        }
        20% {
            transform: scale(1.05);
        }
        40% {
            transform: scale(1.07);
        }
        60% {
            transform: scale(1.05);
        }
        80% {
            transform: scale(1.03);
        }
        100% {
            transform: scale(1.0);
        }
    }
}

.randomFixed {
    position: fixed;
    top: 30px;
    left: -170px;
    background: #fcc50a;
    background-image: linear-gradient(0deg, #fcc50a, #ffffffcc, #fcc50a);
    padding: 9px;
    font-weight: bold;
    color: #222;
    border: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all .3s;
}

.fixedBtnShow {
    left: 0 !important;
}

@media (max-width: 1281px) {
    .title,
    .acctionRandom,
    .list-product {
        padding: 0 20px;
    }
}

@media (min-width: 1281px) {}

@media (min-width: 1025px) and (max-width: 1280px) {}

@media (min-width: 768px) and (max-width: 1024px) {
    .acction {
        width: 70% !important;
    }
    .product {
        width: 48% !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (max-width: 767px) {
    .product {
        width: 98% !important;
        margin: 5px auto;
    }
    .acction {
        width: 45% !important;
    }
}

@media (max-width: 480px) {
    .list-product {
        // background: rgba(255, 0, 0, 0.267);
        padding: 0 10px !important;
    }
    .product {
        width: 46% !important;
        margin: 5px 0 !important;
    }
    .product_info {
        flex-direction: column;
        img {
            width: 100% !important;
        }
        .content {
            width: 100% !important;
            padding: 0 !important;
            .top {
                flex-direction: column;
                align-items: flex-start !important;
                .name {
                    font-size: 1em !important;
                }
                .price {
                    font-size: 1.2em !important;
                }
            }
            .bottom {
                text-align: justify;
                p {
                    font-size: 0.8em !important;
                }
            }
            .acction {
                width: 100% !important;
            }
        }
    }
    .cart {
        width: 45px !important;
        height: 45px !important;
        font-size: 40px !important;
        .numberCart {
            font-size: 17px !important;
            top: -10px !important;
            left: -10px !important;
            width: 20px !important;
            height: 20px !important;
        }
    }
    .acctionRandom {
        text-align: center;
    }
}