.UserTable {
    width: 100%;
    counter-reset: Serial;
    thead {
        background: #FF5722;
        th {
            font-size: 24px;
            color: #fff;
            font-weight: 100;
            padding: 5px 0;
        }
    }
    tbody {
        tr:hover>td {
            background-color: #f5f7fa;
        }
        td {
            border-bottom: 1px solid #ccc;
            text-align: center;
        }
        .avt {
            width: 60px;
            img {
                width: 100%;
                border-radius: 5px;
            }
        }
    }
}

.auto-index td:first-child:before {
    counter-increment: Serial;
    content: counter(Serial);
}