<!-- <button (click)="signInWithFB()" style="background: blue;">facebook</button>
<button (click)="signInWithGG()" style="background: red;">google</button> -->
<!-- <button (click)="logout()">logout</button> -->
<section id="LOGINSECTION">
    <div class="modal">
        <div class="login">
            <div class="body">
                <div class="titleLogin">
                    <h1>ĐĂNG NHẬP</h1>
                    <p>Hãy chọn phương thức đăng nhập để tiếp tục</p>
                </div>
                <div class="actionLogin">
                    <div class="item facebook" (click)="signInWithFB()"><i class="fa fa-facebook" aria-hidden="true"></i> Đăng nhập với Facebook</div>
                    <div class="item google" (click)="signInWithGG()"><i class="fa fa-google" aria-hidden="true"></i> Đăng nhập với Google</div>
                </div>
                <div class="infoOder">
                    <img src="../../assets/img/delivery-man-riding-red-scooter-illustration_9845-14.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>