div#menu-admin {
    background: #1c1748;
    .menu-main {
        display: flex;
        justify-content: space-between;
        .admin-brand {
            width: 75px;
            img {
                width: 100%;
            }
        }
        .admin-nav {
            display: flex;
            align-items: flex-end;
            .admin-nav-list {
                display: flex;
                list-style-type: none;
                .admin-nav-item {
                    display: flex;
                    .admin-nav-link {
                        border-top-right-radius: 3px;
                        border-top-left-radius: 3px;
                        font-size: 24px;
                        text-decoration: none;
                        color: #fff;
                        padding: 5px 30px;
                    }
                }
            }
        }
    }
}

.active {
    color: #4c4c4c !important;
    background: #fff !important;
}